{% set items = [
    {
        pic: 'images/temp/b2.jpg',
        tag: 'Особенности',
        title: 'Автомобильной лопаты BRANDCAMP',
        date: '07.07.2019',
        className: ''
    },
    {
        pic: 'images/temp/b3.jpg',
        tag: 'Топор',
        title: 'Функциональные возможности',
        date: '07.07.2019',
        className: ''
    },
    {
        pic: 'images/temp/b4.jpg',
        tag: 'Пила',
        title: 'Функциональные возможности',
        date: '07.07.2019',
        className: 'd-sm-none d-md-block'
    },
    {
        pic: 'images/temp/b5.jpg',
        tag: 'Случай рыбака',
        title: 'секрет читски чешуи рыбы',
        date: '07.07.2019',
        className: 'd-sm-none d-md-block'
    }
] %}

<div class="container">
    <div class="d-flex flex-wrap align-items-end">
        <a href="#" class="h2 h2--bb mb-2 mr-2">Блог brandcamp</a>
        <div class="mb-2">
            <a href="#" class="btn btn-gray">Подписаться</a>
        </div>
    </div>

    <div class="blg-grid">
        <div class="blg-grid-col blg-grid-col--lg">
            <a href="#" class="blg-grid-item blg-grid-item--lg" style="background-image: url('images/temp/b1.jpg')">
                <span class="blg-grid-item__inner">
                    <span class="blg-grid-item__date"0>7.07.2019</span>
                    <span class="blg-grid-item__tag">Лопата Зубр</span>
                    <span class="blg-grid-item__title">Cравнение с лопатой brandcamp</span>
                </span>
            </a>
        </div>
        <div class="blg-grid-col">
            {% for item in items %}
            <a href="#" class="blg-grid-item {{ item.className }}" style="background-image: url('{{ item.pic }}')">
                <span class="blg-grid-item__inner">
                    <span class="blg-grid-item__date">{{ item.date }}</span>
                    <span class="blg-grid-item__tag">{{ item.tag }}</span>
                    <span class="blg-grid-item__title">{{ item.title }}</span>
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
